block header
	.grid-container
		.header-phone.grid-item
			a(href="#")
				img(src="../../images/phone.png", alt="")
		.header-logo-text.grid-item
			.header-logo
				a(href="#")
					img(src="../../images/aka_phone_logo.png", alt="")
			.header-text
				| Качественное по доступной цене
		nav.grid-item
			ul
				li
					a(href="#") Телефоны
				li
					a(href="#") Смарт часы
				li
					a(href="#") Планшеты
				li
					a(href="#") Камеры
				li
					a(href="#") Аксессуары
		.calling.grid-item
			.call
				a(href="tel:+998911631236")
					| +998(91) 163-12-36
			.callback
				a(href="#")
					| Заказать звонок
		.header-telegramm.grid-item
			img(src="../../images/icon_telegramm_header.png", alt="telegramm icon")
		.menu-burger.grid-item
			a(href="#")
				img(src="../../images/menu_burger.svg", alt="burger").burger-icon