block footer
	.footer-container
		.footer-logo
			img(src="../../images/phone.png" alt="logo")
			h3 AkaPhone
			p Качестенное по доступное цену
		.about
			ul
				li О нас
				li Каталог продуктов
				li Доставка
				li Контакты
		.products
			ul
				li Смартфоны
				li Смарт Часы
				li Планшеты
				li Камеры
				li Аксессуары
		.about-product__hidden
			ul
				li О нас
				li Каталог продуктов
				li Доставка
				li Контакты
				li Смартфоны
				li Смарт Часы
				li Планшеты
				li Камеры
				li Аксессуары
		.map-contacts
			.map
				p Яндекс карта
			.contacts-container
				.contacts
					p Наш телефон
					a(href="tel:+998911631236") +998(91) 163-12-36
					p Наш E-mail
					a(href="email:info@akaphone.uz") info@akaphone.uz
					p Наш адрес
					a(href="#") ул Мевазор дом 21
					.facebook
						img(src="../../images/icon_facebook.png" alt="facebook logo")
					.telegramm
						img(src="../../images/icon_telegramm.png" alt="telegramm logo")
					.instagramm
						img(src="../../images/icon_instagramm.png" alt="instagramm logo")
				.sotial-services
					.facebook
						img(src="../../images/icon_facebook.png" alt="facebook logo")
					.telegramm
						img(src="../../images/icon_telegramm.png" alt="telegramm logo")
					.instagramm
						img(src="../../images/icon_instagramm.png" alt="instagramm logo")
	.copyright
		p Copyright &copy; 2020
