extends layouts/layout.pug

block header
	include header/header.pug

block banner
	include banner/banner.pug

block slider
	include slider/slider.pug

block main
	include main/specialOffers.pug
	include main/catalogProduct.pug

block footer
	include footer/footer.pug