block banner
	.banner-line
		img(src="../../images/banner-line.png" alt="banner-line")
	.banner-container
		.banner-content
			h1
				| Смартфоны и гаджеты 
				| для близких и друзей 
				| по доступной цене
			p
				| В нашем магазине вы сможете найти 
				| качествунную 
				span продукцию  по   досутпным  ценам  для  вашего 
				| близкого человека
			.content-button
				button
					a(href="#")
						| Посмотреть каталог
		.banner-slider
			.slider-bg
				.slider-clocks
					img(src="../../images/slider-clocks.png" alt="banner clocks")
				.slider-text
					a(href="#")
						| Смарт часы AmazFit
					a(href="#")
						img(src="../../images/smart-watchs-arrow.png" alt="")
				.slider-buttons__in
					button
					button
					button
			.slider-buttons__out
				img(src="../../images/slider-buttons.png" alt="slider buttons")
				img(src="../../images/slider-buttons.png" alt="slider buttons")
				img(src="../../images/slider-buttons.png" alt="slider buttons")
