block main
	.specialOffers-container
		h1 Специальные предложения
		.specialOffer-grid
			.lenovo
				h2.eichLenovo Lenovo IdeaPad L340
				p.product-price
					| 21 050 ₽
					span 23 000 ₽
				button Купить
				img(src="../../images/lenovo_ideapad_l340.png" alt="lenovo")
			.kreslo
				h2.eichKreslo-1 Кресло 
				h2.eichKreslo-2 INDI CA-1613A-1
				p.product-price
					| 21 050 ₽
					span 23 000 ₽
				button Купить
				img(src="../../images/kreslo_indi.png" alt="kreslo")
			.galaxy
				h3.eichGalaxy-1 Galaxy
				h3.eichGalaxy-2 Tab S6
				p.product-price__new
					| 2150 ₽
				p.product-price__old 
					| 2300 ₽
				button Купить
				img(src="../../images/galaxy_tab_s6.png" alt="galaxy")
			.hyperx
				h3.eichHyperx HyperX Cloud Stinger
				p.product-price
					| 21 050 ₽
					span 23 000 ₽
				button Купить
				img(src="../../images/hyperx-img.png" alt="hyper")
			.xiaomi
				h3.eichXiaomi Xiaomi Mi Band 3
				p.product-price
					| 2150 ₽
					span 2300 ₽
				button Купить
				img(src="../../images/xiaomi_mi_band3.png" alt="xiaomi")
			.holitic
				h3.eichHolitic Holitic Change
				p.product-price__new
					| 590 ₽
				p.product-price__old
					| 650 ₽
				button Купить
				img(src="../../images/holitic-book.png" alt="holitic")