<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title AkaPhone
		//- link(rel='stylesheet' href='bootstrap/css/bootstrap.css')
		link(rel='stylesheet' href='bootstrap/css/bootstrap-grid.css')
		link(rel="stylesheet", href="fonts/style.css")
		link(rel="stylesheet", href="main.css")
	body
		.wrapper
			header
				block header
			.banner
				block banner
			.slider
				block slider
			main
				block main
			footer
				block footer