block slider
	.slider-container
		h1 Горячие за неделю
		.slider-self
			.product-item
				p.product-name
					| Redmi Note 9S 6/64 GB
				img(src="../../images/phone_redmi_note_9s.png" alt="phone photo")
				p.product-color
					| Белый, серый, синий
				p.product-price-new
					| 15 500 ₽      
					span.product-price-old
						| 15 490 ₽
				button 
					| Купить
			.product-item
				p.product-name
					| Redmi Note 9S 6/64 GB
				img(src="../../images/phone_redmi_note_9s.png" alt="phone photo")
				p.product-color
					| Белый, серый, синий
				p.product-price-new
					| 15 500 ₽      
					span.product-price-old
						| 15 490 ₽
				button 
					| Купить
			.product-item
				p.product-name
					| Redmi Note 9S 6/64 GB
				img(src="../../images/phone_redmi_note_9s.png" alt="phone photo")
				p.product-color
					| Белый, серый, синий
				p.product-price-new
					| 15 500 ₽      
					span.product-price-old
						| 15 490 ₽
				button 
					| Купить
			.product-item
				p.product-name
					| Redmi Note 9S 6/64 GB
				img(src="../../images/phone_redmi_note_9s.png" alt="phone photo")
				p.product-color
					| Белый, серый, синий
				p.product-price-new
					| 15 500 ₽      
					span.product-price-old
						| 15 490 ₽
				button 
					| Купить
	.slider-line
		.slider-line-rectangle
			img(src="../../images/slider-line-rectangle.png" alt="slider rectangle")

